html, body{
	height: 100%;
    overflow-x: hidden;
}
body{
	/*direction:rtl;
	unicode-bidi:embed;*/
    font-family: 'Droid Arabic Kufi', Arial, sans-serif !important;
    font-weight: 400;
}

/*---------------- Common -------------*/
    .container-fluid {
        max-width: 1167px;
    }
    img {
    	max-width: 100%;
    	height: auto;
    }
    .gm-style img {
    	max-width: none;
    }
    .v-align {
    	display: inline-block;
    	width: calc(100% - 1px);
    	vertical-align: middle;
    }
    .dummy {
    	height: 100%;
    	width: 1px;
    	display: inline-block;
    	vertical-align: middle;
    }
    .full-height {
    	height: 100%;
    }
    .font-0 {
    	font-size: 0;
    }
    .padd-0{
    	padding: 0;
    }
    .overflow-hidden {
    	overflow: hidden;
    }
    h1, h2, h3, h4, h4, h6 {
    	/*font-family: 'Playfair Display', serif;*/
    }
    a {
    	-webkit-transition: all 0.3s ease;
    	-moz-transition: all 0.3s ease;
    	-ms-transition: all 0.3s ease;
    	-o-transition: all 0.3s ease;
    	transition: all 0.3s ease;
    	color: #222;
    	outline: none;
    }
    .flex-row {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        display: flexbox;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        margin: 0 -15px;
    }

    .flex-item {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        -webkit-flex-direction: column;
    }
    .flex-inner{
    	display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        flex-grow: 1;
         -webkit-flex-grow: 1;
    }
    .flex-bottom{
    	margin-top: auto;
    }


/********************** Hamburger *********************/

    .hamburger {
        position: absolute;
        top: 32px;
        left: 30px;
        z-index: 1;
        display: none;
        width: 26px;
        height: 21px;
        cursor: pointer;
    }

    .hamburger span {
        position: absolute;
        display: block;
        width: 50%;
        height: 3px;
        background: #fff;
        opacity: 1;
        transition: all .25s cubic-bezier(0.22, 0.61, 0.36, 1);
        transform: rotate(0deg);
    }

    .hamburger.menu-close span, .home .hamburger span, .contact .hamburger span {
        background: #fff;
    }

    .hamburger span:nth-child(even) {
        left: 50%;
    }

    .hamburger span:nth-child(odd) {
        left: 0px;
    }

    .hamburger span:nth-child(1), .hamburger span:nth-child(2) {
        top: 0px;
    }

    .hamburger span:nth-child(3), .hamburger span:nth-child(4) {
        top: 9px;
    }

    .hamburger span:nth-child(5), .hamburger span:nth-child(6) {
        top: 18px;
    }

    .hamburger.menu-close span:nth-child(1), .hamburger.menu-close span:nth-child(6) {
        transform: rotate(45deg);
    }

    .hamburger.menu-close span:nth-child(2), .hamburger.menu-close span:nth-child(5) {
        transform: rotate(-45deg);
    }

    .hamburger.menu-close span:nth-child(1) {
        top: 6px;
        left: 3px;
    }

    .hamburger.menu-close span:nth-child(2) {
        top: 6px;
        left: calc(50% - 3px);
    }

    .hamburger.menu-close span:nth-child(3) {
        /*left: -50%;*/
        opacity: 0;
    }

    .hamburger.menu-close span:nth-child(4) {
        /*left: 100%;*/
        opacity: 0;
    }

    .hamburger.menu-close span:nth-child(5) {
        top: 14px;
        left: 3px;
    }

    .hamburger.menu-close span:nth-child(6) {
        top: 14px;
        left: calc(50% - 3px);
    }

/************* Header ***************/

    .main-navigation a.hamburger {
        display: none;
    }

    .site-logo {
        height: 192px;
        width: 179px;
        background: url('../images/logo.jpg') no-repeat;
        background-size: 153px 145px;
        text-indent: -9999px;
        background-position: center;
        background-color: #fff;
        position: absolute;
        right: 6px;
        top: 0;

        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
    .site-header {
        background-color: #ed1f24;
        position: relative;
        z-index: 2;
    }
    .header-inner {
        position: relative;
    }
    #site-navigation {
        font-size: 16px;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-right: 170px;
        color: #fff;
    }
    .menu-header-menu-1-container {
        float: right;
    }
    .menu-header-menu-2-container {
        float: left;
        padding: 12px 0;
    }
    #primary-menu {
        padding-right: 56px;
    }
    #primary-menu li {
        float: none;
        padding-left: 56px;
        /*padding-right: 28px;*/
        /*padding-left: 28px;*/
        /*padding-right: 0;*/
        display: inline-block;
        vertical-align: middle;
    }
    .main-navigation ul li:hover > ul, .main-navigation ul li.focus > ul {
        left: auto;
        right: 0;
    }
    #primary-menu > li:last-child {
        padding-left: 0;
    }
    #primary-menu li a,
    #secondary-menu li a {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    #primary-menu ul {
        padding: 0;
        background-color: #428f04;
        box-shadow: none;
    }
    #primary-menu li  li {
        padding: 5px 10px;
    }
    .main-navigation ul {
        padding: 0;
    }
    .main-navigation ul ul {
        top: 100%;
        padding-right: 0;
    }
    .main-navigation ul ul li:hover > ul {
        right: 100%;
        left: auto;
    }

    #secondary-menu li {
        float: left;
        padding-right: 16px;
        padding-left: 16px;
        border-right: 1px solid #fff;
        border-left: none;
    }
    #secondary-menu li:last-child {
        border: none;
    }
    #secondary-menu li:last-child {
        border: none;
    }
    #primary-menu a,
    #secondary-menu a {
        color: #fff;
        outline: none;
    }
    #primary-menu a:hover,
    #secondary-menu a:hover {
        text-decoration: none;
    }

/************* home ***************/

    .banner {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 36.875%;
        position: relative;
        min-height: 500px;
    }
    .banner h2 {
        position: absolute;
        left: 50px;
        bottom: 120px;
        color: #fff;
        font-size: 64px;
        text-shadow: 0px 3px 1px rgba(0, 0, 0, 0.64); 
    }
    .announcement-section {
        text-align: right;
        padding-bottom: 22px;
        position: relative;
    }
    .announcement-section:after {
        content: '';
        background: url('../images/triangles.png') no-repeat center bottom;
        width: 100%;
        height: 180px;
        position: absolute;
        top: -178px;
        left: 0;
        z-index: 0;
    }
    .announcement-inner {
        margin-top: -100px;
        z-index: 1;
        position: relative;
    }
    /*.announcement-section:after {
        content: '';
        position: absolute;
        top: 0;
        left: -71px;
        width: 112%;
        height: 170px;
        background-color: #fff;
        transform: rotate(0) skewX(60deg) skewY(-8deg);
        z-index: 2;
    }
    .announcement-section:before {
        content: '';
        position: absolute;
        top: 0;
        left: -71px;
        width: 112%;
        height: 170px;
        background-color: #ed1f24;
        transform: rotate(0) skewX(60deg) skewY(-8deg);
    }*/
    
    .news-wrap h2 {
        font-size: 28px;
        padding-right: 66px;
        padding-top: 15px;
        padding-bottom: 15px;
        color: #0c558d;
        background: url('../images/news.png') no-repeat right;

    }
    .news-wrap h3 {
        font-size: 34px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .news-wrap h3 a {
        color: #000;
    }
    .news-wrap h3 a:hover,
    .news-wrap h3 a:focus {
        text-decoration: none;
        color: #000;
        opacity: 0.7;
    }
    .news-wrap p {
        font-size: 17px;
    }
    .news-date {
        color: #0987a7;
        display: inline-block;
        margin-bottom: 15px;
    }
    .read-more {
        color: #0987a7;
    }
    .read-more:hover,
    .read-more:focus,
    .read-more:visited  {
        text-decoration: none;
        color: #0987a7;
        opacity: 0.7;
    }

    .announcement-sub-section {
        background-color: #8e8d8d;
        padding: 12px 0;
        color: #fff;
        text-align: center;
    }
    .announcement-wrap h2 {
        font-size: 14px;
        margin-bottom: 15px;
    }
    .announcement-sub-section p {
        margin-bottom: 0;
    }
    .tabs-section {
        background-color: #428f04;
        position: relative;
    }
    
    .tabs-section-content {

    }
    .category-list {
        text-align: center;
        padding: 0;
        margin: 0;
    }
    .category-list li {
        display: inline-block;
        text-align: center;
        color: #fff;
        padding-left: 35px;
        padding-right: 35px;
        position: relative;
        padding-top: 40px;
        padding-bottom: 40px;

    }
    .category-list li.active a {
        background-color: #58af13;
    }
    .category-list li.active:before {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 18px 21px 0 21px;
        border-color: #59af13 transparent transparent transparent;
        left: 50%;
        bottom: -18px;
        margin-left: -21px;

        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .category-list li:hover a {
        opacity: 0.7;
        margin-top: 15px;
    }
    .category-list li:hover.active:before {
        bottom: -23px;
    }
    .category-list li a {
        margin-top: 20px;
        width: 122px;
        height: 122px;
        border-radius: 50%;
        background-color: #2d6302;
        display: block;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;

        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .tab-logos-wrap {
        padding: 0;
        margin: 0;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .tab-logos-wrap li {
        display: inline-block;
        padding: 10px 5px;
    }
    .photo-gallery-section {
        background-color: #cccdcd;
        padding-top: 30px;
        padding-bottom: 60px;
    }
    .slider-list {
        padding: 0;
        margin: 0;
        display: block;
        vertical-align: bottom;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
    }
    .slider-list li {
        display: inline-block;
        padding: 16px 0 10px 0;
        margin-left: 25px;
        margin-right: 25px;
        font-size: 20px;
        border-bottom: 10px solid transparent;
        vertical-align: bottom;
    }
    .slider-list li.active {
        border-bottom: 10px solid #fd0101;
    }
    .slider-list li a:hover,
    .slider-list li a:active,
    .slider-list li a:focus {
        text-decoration: none;
        color: #000;
        opacity: 0.7;
    }
    .carousel-control {
        /*width: 10%;*/
    }
    .carousel-control .glyphicon-chevron-left, 
    .carousel-control .glyphicon-chevron-right {
        font-size: 56px;
        
    }
    .carousel-control.left,
    .carousel-control.right {
        box-shadow: none;
        background-image: none;
    }
    .photo-gallery-section h2 {
        font-size: 26px;
        color: #fff;
        background-color: #fd0101;
        padding: 18px 50px;
        text-align: center;
        margin: 0;
        display: block;
        float: right;

    }
    .sitemap-title {
        color: #043b65;
        margin: 20px 0 10px 0;
    }
    #bannerCarousel .carousel-control {
        width: 10%;
    }
    .carousel-control .banner-slider-control {
        font-size: 30px;
    }
    .carousel-control .banner-slider-control

    .banner-inner {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .banner-inner h1 {
        padding-top: 190px;
        padding-bottom: 30px;
        margin: 0;
        font-size: 64px;
        text-shadow: 0px 3px 1px rgba(0, 0, 0, 0.64); 
        color: #fff;
    }
    .breadcrumbs {
        background-color: #e2e2e2;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .breadcrumbs a {
        text-decoration: none;
        color: #000;
    }
    .breadcrumbs a:hover,
    .breadcrumbs a:visited,
    .breadcrumbs a:focus {
        text-decoration: none;
        color: #000;
        opacity: 0.7;
    }
    .breadcrumb-list {
        margin: 0;
        padding: 0;
    }
    .breadcrumb-list li {
        padding-left: 20px;
    }
    .breadcrumb-list li.current {
        color: #858687;
    }
    .entry-content {
        margin-top: 20px;
        padding-bottom: 20px;
    }
    .side-nav-list {
        float: right;
        list-style: none;
        padding: 0;
        margin: 0 0 20px 0;
    }
    .side-nav-list li {
        margin-bottom: 10px;
    }
    .side-nav-title {
        color: #2d6302;
        padding-top: 20px;
    }
    .side-nav-list li a {
        color: #2d6302;
        font-size: 15px;
    }
    .side-nav-list li a:hover {
        text-decoration: none;
    }

.mosa-inner-wrap{
    background: #2d6302;
    padding: 35px 40px;
    color: #fff;
}
.mosa-inner-wrap h2{
    margin: 0 0 20px;
}
.inner-wrap-desc{
    overflow: hidden;
}
.mos-an-wrap{
    margin-top: 80px;
    margin-bottom: 70px;
}
.mos-an-wrap .col-xs-6{
    margin-bottom: 20px;
}
.an-dummy{
    position: relative;
    display: block;
    padding-bottom: 92.6%;
    background: #d5d4d4;
    font-size: 0;
}
.an-dummy::before{
    content: "Advertising Space";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    font-size: 12px;
    line-height: 240px;
    color: #0e5388;
}

.news-single {
    margin-top: 100px;
}

/********** footer *****************/
    .rights {
        color: #0c558d;
        padding: 10px 0;
    }
    .wrap-footer-nav {
        background-color: #2d6302;
        padding-top: 40px;
        padding-bottom: 15px;
    }
    .footer-nav-item {
        float: right;
    }
    .footer-nav a {
        color: #fff;
    }
    .footer-nav li {
        list-style: none;
    }
    .footer-nav li a:hover {
        text-decoration: none;
    }
    .footer-nav  ul {
        padding: 0;
        margin: 0;
    }
    .footer-nav > li > a {
        font-size: 18px;
    }
    .footer-nav > li > ul {
        margin-top: 15px;
    }
    .footer-nav > li > ul > li {
        margin: 5px 0;
    }
    .footer-nav > li > ul > li > ul {
        margin-bottom: 15px;
    }
    .footer-nav > li > ul > li > ul >li {
        /*padding-right: 15px;*/
        /*margin: 5px 0;*/
    }
    .footer-nav > li > ul > li > ul >li:before {
        content: '-';
        padding-left: 5px;
        color: #fff;

    }
    .footer-contact {
        max-width: 300px;
        float: left;
        color: #fff;
        margin-top: 50px;
    }
    
/*    .footer-nav ul {
        padding-right: 0;
    }
    .footer-nav > .menu-item {

    }
    .footer-nav > li > .sub-menu {
        margin-top: 15px;
    }
    .footer-nav .menu-item-has-children {
        margin-bottom: 15px;
    }
    .footer-nav .sub-menu .menu-item-has-children li {
        padding-right: 20px;
    }*/
