
@media (max-width:1300px){

}
@media (max-width:1160px){
	.menu-header-menu-1-container {
		margin-top: 60px;
	}
	.menu-header-menu-1-container,
	.menu-header-menu-2-container {
		float: none;
		text-align: end;
		max-height: 0;
		overflow: hidden;
		padding: 0 0 0 15px;
	}
	#primary-menu {
		padding-right: 0;
	}
	#primary-menu li,
	#secondary-menu li {
		display: inline-block;
		width: 100%;
		float: none;
		text-align: end;
		padding: 0;
		border: none;
	} 
	.main-navigation a.hamburger {
		display: block;
	}
	.site-header.menu-open .menu-header-menu-1-container,
	.site-header.menu-open .menu-header-menu-2-container {
		max-height: 3000px;
	}
	.main-navigation ul ul {
		position: static;
		display: block;
		width: 100%;
	}
	.main-navigation ul ul a {
		width: 100%;
	}
	#primary-menu ul {
		background: none;
	}
	#primary-menu li  li {
		padding-left: 15px;
	}
}
@media (max-width:1100px){
	.category-list {
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
    }
    .category-list li.active:before {
    	display: none;
    }
}
@media (max-width:991px){
	.footer-contact {
		float: none;
		display: block;
	}
}
@media (max-width:768px){
	.banner {
		min-height: 380px;
	}
	.banner h2 {
		font-size: 40px;
	}
	.footer-nav-item {
		float: none;
	}
	.footer-nav-item ul {
		padding-right: 0;
	}
	.banner-inner h1 {
		font-size: 32px;
	}
}
@media (max-width:600px){
	.main-navigation ul {
		display: block;
	}
}
@media (max-width:400px){
	.banner h2 {
		font-size: 32px;
	}	
	#site-navigation {
		padding-right: 20px;
	}
	.menu-open #site-navigation {
		padding-top: 50px;
	}
	.site-logo {
		width: 100px;
		height: 95px;
		background-size: 90px 85px;
	}
}